.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
  gap: 5px;
  background: black;
}

.cell {
  background-size: cover;
  background-color: white;
}
